<h1>Places I've Been</h1>

<ul>
  <% @places.each do |place| %>
    <li>
      <%= link_to place.name, place_path(place) %>
      <ul>
        <% place.entries.each do |entry| %>
          <li><%= entry.title %>: <%= entry.content %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a New Place', new_place_path, class: 'button' %>
