<h1>Add a New Place</h1>

<%= form_with model: @place, local: true do |f| %>
  <div>
    <%= f.label :name, "Place Name" %>
    <%= f.text_field :name, required: true %>
  </div>
  
  <div>
    <%= f.submit "Create Place" %>
  </div>
<% end %>
